{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>Events:</h2>
        <div data-controller="events-list"></div>
        <div data-controller="event-creation"></div>
    </div>
    <div>
        <h2>Tickets:</h2>
        <div data-controller="tickets-list"></div>
        <div data-controller="ticket-creation"></div>
    </div>
{% endblock %}